[submodule "flows/n8n/black-project"]
        path = flows/n8n/black-project
        url = https://github.com/xXNewbiXx/omnikai-black-project.git
        branch = main
[submodule "flows/n8n/n8n-core"]
	path = flows/n8n/n8n-core
	url = https://github.com/n8n-io/n8n.git
[submodule "flows/n8n/workflow-library"]
	path = flows/n8n/workflow-library
	url = https://github.com/enescingoz/awesome-n8n-templates.git
[submodule "external/claude-flow"]
	path = external/claude-flow
	url = https://github.com/ruvnet/claude-flow
	branch = main
